<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Ultra Look Preview</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSMinimumSystemVersion</key>
	<string>$(MACOSX_DEPLOYMENT_TARGET)</string>
	<key>NSExtension</key>
	<dict>
		<key>NSExtensionAttributes</key>
		<dict>
			<key>QLIsDataBasedPreview</key>
			<false/>
			<key>QLSupportsSearchableItems</key>
			<false/>
			<key>QLSupportedContentTypes</key>
			<array>
				<!-- Markdown -->
				<string>net.daringfireball.markdown</string>
				<string>com.millionrust.ultralook.mdx</string>
				<!-- Archives -->
				<string>public.zip-archive</string>
				<string>com.pkware.zip-archive</string>
				<string>com.sun.java-archive</string>
				<string>public.tar-archive</string>
				<string>org.gnu.gnu-tar-archive</string>
				<string>org.gnu.gnu-zip-tar-archive</string>
				<!-- Text and source with system types -->
				<string>public.plain-text</string>
				<string>public.source-code</string>
				<string>public.script</string>
				<string>public.shell-script</string>
				<string>public.bash-script</string>
				<string>public.zsh-script</string>
				<string>public.swift-source</string>
				<string>public.c-source</string>
				<string>public.c-header</string>
				<string>public.c-plus-plus-source</string>
				<string>public.c-plus-plus-header</string>
				<string>public.objective-c-source</string>
				<string>public.objective-c-plus-plus-source</string>
				<string>com.sun.java-source</string>
				<string>com.netscape.javascript-source</string>
				<string>com.microsoft.typescript</string>
				<string>public.python-script</string>
				<string>public.ruby-script</string>
				<string>public.php-script</string>
				<string>public.perl-script</string>
				<string>com.apple.rez-source</string>
				<string>org.iso.sql</string>
				<string>public.fortran-90-source</string>
				<string>public.pascal-source</string>
				<string>public.assembly-source</string>
				<string>public.protobuf-source</string>
				<string>public.make-source</string>
				<string>public.patch-file</string>
				<string>public.css</string>
				<string>public.json</string>
				<string>public.xml</string>
				<string>public.yaml</string>
				<string>public.toml</string>
				<string>com.microsoft.ini</string>
				<string>public.log</string>
				<string>com.apple.log</string>
				<string>com.apple.property-list</string>
				<string>com.apple.xcode.configsettings</string>
				<string>com.apple.xcode.strings-text</string>
				<string>com.apple.xcode.entitlements-property-list</string>
				<!-- Types imported by the Ultra Look app (see App/Info.plist) -->
				<string>com.millionrust.ultralook.csharp</string>
				<string>com.millionrust.ultralook.kotlin</string>
				<string>com.millionrust.ultralook.scala</string>
				<string>com.millionrust.ultralook.groovy</string>
				<string>com.millionrust.ultralook.go</string>
				<string>com.millionrust.ultralook.rust</string>
				<string>com.millionrust.ultralook.javascript</string>
				<string>com.millionrust.ultralook.typescript</string>
				<string>com.millionrust.ultralook.dart</string>
				<string>com.millionrust.ultralook.fish</string>
				<string>com.millionrust.ultralook.powershell</string>
				<string>com.millionrust.ultralook.lua</string>
				<string>com.millionrust.ultralook.haskell</string>
				<string>com.millionrust.ultralook.elixir</string>
				<string>com.millionrust.ultralook.erlang</string>
				<string>com.millionrust.ultralook.clojure</string>
				<string>com.millionrust.ultralook.lisp</string>
				<string>com.millionrust.ultralook.ocaml</string>
				<string>com.millionrust.ultralook.zig</string>
				<string>com.millionrust.ultralook.nim</string>
				<string>com.millionrust.ultralook.julia</string>
				<string>com.millionrust.ultralook.solidity</string>
				<string>com.millionrust.ultralook.verilog</string>
				<string>com.millionrust.ultralook.vhdl</string>
				<string>com.millionrust.ultralook.visual-basic</string>
				<string>com.millionrust.ultralook.batch</string>
				<string>com.millionrust.ultralook.awk</string>
				<string>com.millionrust.ultralook.tcl</string>
				<string>com.millionrust.ultralook.crystal</string>
				<string>com.millionrust.ultralook.d</string>
				<string>com.millionrust.ultralook.gleam</string>
				<string>com.millionrust.ultralook.odin</string>
				<string>com.millionrust.ultralook.shader</string>
				<string>com.millionrust.ultralook.web-component</string>
				<string>com.millionrust.ultralook.stylesheet</string>
				<string>com.millionrust.ultralook.json-variant</string>
				<string>com.millionrust.ultralook.config</string>
				<string>com.millionrust.ultralook.dockerfile</string>
				<string>com.millionrust.ultralook.cmake</string>
				<string>com.millionrust.ultralook.graphql</string>
				<string>com.millionrust.ultralook.hcl</string>
				<string>com.millionrust.ultralook.nix</string>
				<string>com.millionrust.ultralook.vim</string>
				<string>com.millionrust.ultralook.assembly</string>
				<string>com.millionrust.ultralook.latex</string>
			</array>
		</dict>
		<key>NSExtensionPointIdentifier</key>
		<string>com.apple.quicklook.preview</string>
		<key>NSExtensionPrincipalClass</key>
		<string>$(PRODUCT_MODULE_NAME).PreviewViewController</string>
	</dict>
</dict>
</plist>
